
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background-color: var(--bk-color);
  transition: 0.5s;
}
html{
  scroll-behavior: smooth;
}
::selection{
background: #b167e5  ;
  color: white;

}
img.logo {
    width: 117px;
}
nav {
    display: flex;
    align-items: center;
    /* padding-top: 20px; */
    justify-content: space-between;
    padding: 30px;
}
.hero{
  position: relative;
  /*
  background-image: url("IMG_20230924_012008.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}
.hero::after {
  position: absolute;
  content: "";
  width: 100%;
   height: 40%;
  background: #ede5fb;
  top: 42%;
  z-index: -1;
  border-radius:19% 81% 34% 66% / 65% 59% 41% 35%;
}
*/
}
.hero svg{
  position: absolute;
  top: 50%;
  z-index: -8
}
.links a {
    text-decoration: none;
    margin: 13px;
    color: var(--a-color);
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    transition: 0.5s;
}
.links a::before{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  background: #b184ff;
  width: 0%;
  height: 2px;
  transition: 0.5s;
}
.links a:hover::before{
  width: 100%;
}
.links a:nth-child(1){
  color: var(--active-color);
}
.links a:last-child {
    background-color: #b184ff;
    color: #fff;
    border-radius: 43px;
    padding: 10px 16px;
    border: 2px solid transparent;
    transition: 0.5s;
}
.links a:last-child::before{
  display: none;
}
.links a:last-child:hover{
  border: 2px solid #b184ff;
  background: none;
  color: #444;

}
.landing{
  padding: 30px;
}
.landing .contaner{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 79px;
  flex-direction: row-reverse;
}
.landing .image img {
    margin-left: 56px;
    width: 49%;
    border-radius: 43px;
    margin-top: -9%;
}
.landing p {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--p-color);
    font-size: 15px;
    letter-spacing: 1px;
}
.landing h1 {
    overflow: hidden;
    /* white-space: nowrap; */
    font-size: 41px;
    text-transform: uppercase;
    margin: 13px 0;
    color: var(--h1-color);
    width: 255px;
}
.landing h1 span {
    color: #b167e5;
    width: 240px;
    display: block;
    overflow: hidden;
    white-space: nowrap;

  }
    /*
    animation: text 4s steps(16) infinite;
@keyframes text {
  to{
    width: 255px;

  }
  from{
    width:0;
  }
}
*/
.landing h4 {
    color: var(--h1-color);
    text-transform: capitalize;
    font-size: 18px;
    width: 225px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #2f2a62;
    animation: text-2 4s steps(15) infinite;
}
@keyframes text-2 {
  to{
    width: 233px;

  }
  from{
    width:0;
  }
}
.landing h4 span{
  color: #b167e5;

  font-size: 26px;
}
.landing button {
    background-image: var(--btn-color);
    border: 2px solid transparent;
    padding: 7px 21px;
    border-radius: 24px;
    margin-top: 39px;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.8s;
    outline: none;
}
.landing button:hover{
  border-color: #b167e5;
  background:  transparent;
  color: var(--h4-color);
}
.landing .image {
    width: 42%;
    margin-right: 64px;
    height: 100%;
    border-radius: 19% 81% 34% 66% / 65% 59% 41% 35%;
    background-image: var(--rad-color);
    animation: radus  8s infinite 2s ease-in-out alternate;
    transition: 0.5s;
}
@keyframes radus {
  0%{
    border-radius: 19% 81% 34% 66% / 65% 59% 41% 35%;
  }
  20%{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  }
  40%{
  border-radius: 63% 37% 23% 77% / 70% 83% 17% 30%;
  }
  60%{
    border-radius: 19% 81% 47% 83% / 83% 83% 17% 17%;
  }
  80%{
    border-radius: 26% 74% 21% 79% / 39% 19% 84% 61%;
  }
  100%{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}
@media (max-width:767px) {
  .landing h1 {
   color: var(--res-color);
   background: var(--bch-color);
   padding: var(--padd-color);
   border-radius: 10px;
  }
.landing h4{
  color: var(--res-color);
}
  .landing{
  padding: 10px;
}
  .landing .text{
    margin-left: 0 ;

  }
  .landing .contaner {
      flex-direction: unset;
      flex-wrap: wrap;
      padding: 30px;
  }
  .landing .image{
    margin-bottom: 30px;
    width: 78%;
  }
  .landing .image img {
      width: 65%;
      margin-left: 22px;
      margin-top: 0;
  }
}
.menu {
    width: 35px;
    height: 28px;
    position: relative;
    cursor: pointer;
    display: none;
}
.menu span {
    background-color: #bd7bee;
    position: absolute;
    /* top: 26px; */
    width: 100%;
    height: 2px;
    transition: .5s;
}

.menu span:nth-child(2){
  top:10px
}
.menu span:nth-child(3){
  top:20px
}
.menu.active span:first-child{
  transform: rotate(45deg);
  background-color: red;
  top: 6px;

}
.menu.active span:nth-child(2){
  opacity: 0;
}
.menu.active span:nth-child(3){
  transform: rotate(-45deg);
  top: 6px;
  background-color: red;
}
@media (max-width:767px) {
  .menu{
    display: block;
    height: 10px;
  }
  .links {
      display: flex;
      flex-direction: column;
      background: var(--links-color);
      width: 100%;
      position: absolute;
      top: 11%;
      left: 0;
      text-align: center;
      padding-bottom: 13px;
      transform: translateY(-142%);
      transition: 0.5s;
  }
  .links.open{
    transform: translateY(0);
  }
  .links a {
      border-bottom: 1px solid #d6d6d6;
      transition: 0.5s;
      padding: 20px;
      margin: unset;
  }
    .links a::before{
      display: none;
    }
  .links a:hover {
      background: #bea1d9;
      color: #fff;
  }
    .links a:nth-child(4){
      border-bottom: none;
    }
    .links a:nth-child(5){
      border-bottom: none;
      margin-top: 5px;
    }
}
.about {
    padding: 61px 30px;
}
h2.abo {
    text-align: center;
    position: relative;
    margin-bottom: 62px;
    text-transform: capitalize;
    font-size: 38px;
    color: var(--h2-color);
}
h2.abo::before {
    position: absolute;
    content: "^^^";
    bottom: -33px;
    left: 49%;
    color: #b167e55e;
    font-size: 17px;
}
.about .contaner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.about .contaner .image img {
    width: 100%;
    border-radius: 5px;
}
.about .text p {
    width: 80%;
    line-height: 1.6;
    margin: 13px 0;
    color: var(--p-color);
    font-size: 15px;
}
.about .text h4{
  color: var(--h4-color);
font-size: 20px;
}
.about span {
    color: #b167e5;
    font-size: 24px;
}
.about .contaner .image {
    margin-right: 6px;
    width: 185%;
}
@media (max-width:767px) {
  .about .contaner{

        flex-wrap: wrap;
  }
  .about .image{
    margin-bottom: 20px;
  }
  .about .text p{
    width: 100%;
  }
}
.services {
    padding: 62px 30px;
}
.services .contaner {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 37px;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.services .box img {
    width: 66px;
}
.services .box {
    width: fit-content;
    box-shadow: var(--light-color);
    padding: 16px;
    border-radius: 22px;
    transition: 0.5s;
}
.services .box:hover{
  transform: translateY(-6px);
}
.services h3 {
    color: #7047ff;
    margin-bottom: 8px;
    text-transform: capitalize;
}
.services p {
    color: var(--p-color);
    line-height: 1.6;
    width: 100%;
}
.services a {
    text-decoration: none;
    color: #7047ff;
    font-weight: 600;
}
.services .box:nth-child(2) {
    background-image: linear-gradient(180deg, #b167e5, #7544cc);
    box-shadow: 2px 2px 11px #7b48cffc;
}
.services .box:nth-child(2) p{
  color: #eee
}
.services .box:nth-child(2) h3{
  color: #eee
}
.services .box:nth-child(2) a{
  color: #eee
}
.services .box:nth-child(2) img {
    background-color: #f8f8f8;
    border-radius: 15px;
    margin-bottom: 12px;
}
.contact {
    padding: 60px 30px;
}
form {
    margin: 0 auto;
    width: 91%;
}
label {
    font-weight: 600;
    color: var(--lab-color);
    font-size: 13px;
    text-transform: capitalize;
}
input {
    width: 100%;
    margin: 8px 0;
    border: 2px solid #9456d930;
    background: none;
    height: 25px;
    border-radius: 3px;
    outline: none;
    color: #222;
    padding: 14px 0px 14px 10px;
}
input:nth-child(11) {
    padding: 14px 7px 96px;
}
input[type="submit"] {
    width: 100%;
    margin: 8px 0;
    border: 2px solid transparent;
    background-image: var(--btn-color);
    padding: 7px 0;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    height: auto;
}
 input[type="submit"]:hover {
  border: 2px solid #b167e5;
  background-image: none;
  color: #888;
}
footer {
    background-image: var(--fo-color);
    position: relative;
    top: -17px;
}
footer h2.foo {
    /* text-align: center; */
    position: relative;
    margin-bottom: 27px;
    text-transform: capitalize;
    font-size: 23px;
    color: #eee;
    white-space: nowrap;
}
h2.foo::before {
    position: absolute;
    content: "^^^";
    bottom: -25px;
    left: 1%;
    color: #f1ebeb;
    font-size: 13px;
    letter-spacing: 1px;
}
footer .contaner {
    display: grid;
    /* align-items: center; */
    padding: 23px 12%;
    gap: 59px;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
}
footer .contaner .linkss a {
    color: var(--a-2-color);
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
::marker {
    color: whitesmoke;
}
footer li {
    margin-bottom: 4px;
    margin-left: 10px;
    color: var(--a-2-color);
    line-height: 1.6;
}
footer img.logo {
    /* width: 61%; */
    background: #eee;
    border-radius: 52px;
    padding: 8px;
    box-shadow: 1px 1px 11px #673ab7 inset;
}
footer p {
    color: #fff;
    letter-spacing: 1px;
    margin-top: 4px;
    font-size: 15px;
    text-transform: capitalize;
    white-space: nowrap;
}
.social {
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.social img {
    width: 35px;
    margin-right: 13px;
    box-shadow: 1px 1px 11px #a661e461 inset;
    transition: 0.5s;
}
.social img:nth-child(1) {
    background-color: #4f2ede;
    border-radius: 50%;
    padding: 6px;
}
.social img:nth-child(2) {
    background-color: #9151ff;
    border-radius: 50%;
    padding: 5px;
}
.social img:nth-child(3){
   background-color: #4f2ede;
    border-radius: 50%;
    padding: 6px;
}
.social img:hover {
    transform: translateY(-8px) rotate(180deg);
    background-color: #836bea;
}
.scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 99999999999999;
    background: #7047ff;
    color: white;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    transition: 0.6s;
    border: 3px solid #7047ff;
    cursor: pointer;
    transform: translateX(60px);
    text-decoration: none;
}
.scroll h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 8px;
    font-size: 29px;
}
.scroll:hover {
    background: #eeeeee75;
    color: #7047ff;
    border: 3px solid;
}
.scroll.open{
  transform: translateX(0);
}

.about {
  width:100%;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.about.scrolled {
  transform: translateY(0);
  opacity: 1;
}

.box {
  opacity: 0;
  overflow: hidden;
  transform: translateX(-80px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.box.visible {
  opacity: 1;
  transform: translateX(0);
}
.cen{
  text-align: center;
}
textarea{
  width: 100%;
margin: 8px 0;
border: 2px solid #9456d930;
background: none;
height: 25px;
border-radius: 3px;
outline: none;
color: #222;
padding: 14px 0px 14px 10px;
}
.project {
  padding: 60px 30px;
}
.project .contaner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 2px;
}
.project .image {
    width: 100%;
    position: relative;
    height: 287px;
    cursor: ;
    transition: 0.5s;
    overflow: hidden;
}
.project .image img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.project .image:hover img {
    transform: rotate(2deg) scale(1.1);
}
.project .image .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.project .image .text a,
.project .image .text h3
{
  text-decoration: none;
  margin-bottom: 5px;
    background: #673ab7;
    /* width: 30px; */
    text-transform: capitalize;
    padding: 4px 13px;
    /* height: 30px; */
    border-radius: 8px;
    text-align: center;
    color: #eee;
    font-size: 26px;
    font-family: cursive;
    font-weight: normal;
   transform: translateY(-3000%);
    transition: 0.5s;
    cursor: pointer;
    border:3px solid transparent;
    transition: 0.5s;
}
.project a::after {
display: none;
}
.project .image .text a:hover{
  border-color: #f44336;
  background: none;
}
.project .image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(3600deg, #673ab7, #000000a3);
    transform: translateY(3000%);
    transition: 0.5s all ease;
}
.project .image .text p {
    color: #fff;
    line-height: unset;
    width: unset;
    transform: translateY(3000%);
    transition: 0.5s;
    text-transform: capitalize;
    margin-top: 6px;
    letter-spacing: 1px;
    font-family: system-ui;
    font-size: 17px;
    white-space: nowrap;
    font-weight: 600;
}
.project .image:hover .text a{
  transform: translateY(0);
}
.project .image:hover .text h3{
  transform: translateY(0);
}
.project .image:hover .text p{
  transform: translateY(0);
}
.project .image:hover::after {
  transform: translateY(0);
}
.svg{
  transform: rotate(180deg);
}
.copyright {
    /* position: relative; */
    /* top: -17px; */
    padding: 35px 0;
    text-align: center;
    line-height: 1.7;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-shadow: 4px 4px 7px #131111;
}
@media (max-width:767px) {
  .services .contaner{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  }
  .services{
    padding: 60px 0;
  }
}
button#dark {
    width: 44px;
    border-radius: 50%;
    height: 44px;
    outline: none;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 10px;
    z-index: 8845;
    top: 106px;
}
#dark img {
    width: 32px;
    border-radius: 50%;
    height: 32px;
}
.pra-light{
  color: #eee
}
:root{
  --h1-color:#222;
  --bk-color:#fff;
  --p-color:#555;
  --h2-color:#222;
  --a-color:#666;
  --a-2-color:#eee;
  --h4-color:#333;
  --fo-color:linear-gradient(180deg, #2a18db, #b167e5, #e91e63ab,#f44336db);
  --path-color:#2a18db;
  --light-color:1px 1px 11px #eee;
  --active-color:#444;
  --btn-color:linear-gradient(10deg, #2a18db, #b167e5);
  --links-color:#ede5fb;
  --lab-color:#535353d9;
  --op-color:1;
  --sv-color:#ede5fb;
  --rad-color:linear-gradient(45deg, #4628dd, #ab63e5);
}
.dark{
  --h1-color:#e6e6e6;
  --bk-color:#101010;
  --p-color:#bebebe;
  --h2-color:#ebebeb;
  --a-color:#dcdcdc;
  --a-2-color:#eee;
  --h4-color:#d1cccc;
  --fo-color:linear-gradient(80deg, #0e065f, #491370, #300b72,#110c0c);
  --path-color:#491370;
  --light-color:1px 1px 11px #1e1e1e;
  --active-color:#d6beff;
  --btn-color:linear-gradient(10deg, #0e065f, #520c82);
  --links-color:#2f2f2f;
  --res-color:#eee;
  --bch-color:#000000c7;
  --padd-color:3px 13px;
  --lab-color:#e1e1e1d9;
  --op-color:.1;
  --sv-color:#ede5fb;
  --rad-color:linear-gradient(56deg, #5f18dd, #340d3b);
}
